@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background-color: #e9ebee;
}

.toast-success {
    background-color: #0fdb00;
}

.toast-error {
    background-color: #ff0900;
}
